<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      p{
        color: white;
        background-color: black;
        font-size: larger;
        width: fit-content;
      }
        body {
            background-color: <%=user.color%>;
        }
        .btn {
    background-color: DodgerBlue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    }
    .btna {
    background-color: DodgerBlue;
    color: white;
    font-size: 16px;
height: auto;
 }
 
 .btnb {
    background-color: rgb(78, 25, 25);
    color: black;
    font-size: 8px;
    bottom:10px;
    right:10px;
    position:absolute;
 }
    .container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
}
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
  visibility: hidden;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" type="css" href="/public/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
            <a href="/users/logout">
                <img src="../images/icons/log-out.svg" alt="Déconnexion"/>
            </a>
        <div class="topright">
            <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    </div>
</header>
<br>
<div id="user-info">
    <h1> Hello <%= user.prenom.charAt(0).toUpperCase() + user.prenom.slice(1) %> !</h1>
</div>
        <br>
        <div class="wrap-collabsible"> <input id="collapsible3" class="toggle" type="checkbox"> <label for="collapsible3" class="lbl-toggle" tabindex="0">Start new recipe</label><div class="collapsible-content"><div class="content-inner">
        <form action="/save" method="post">
        <label for="rname">Name of the recipe: </label>
        <input type="text" id="rname" name="rname" style="width: 300px;">
        <br>
        <textarea spellcheck="false" name="text" rows="50" cols="50" style="height: 300px;width: 300px;">Ingredients:
            - 1st ingredient: ...
            - ...
            - ...

Steps:
            - 1st step: ...
            - ...
            - ...
        </textarea>
        <br>
        <button type="submit" class="btn"><i class="fa fa-save"></i> Save</button>
  </form>
</div></div></div>
    <br>
    <div class="wrap-collabsible"> <input id="collapsible2" class="toggle" type="checkbox"> <label for="collapsible2" class="lbl-toggle" tabindex="0">Recent recipes</label><div class="collapsible-content"><div class="content-inner">
    <% if(user.recipeName!=null) {%>
    <% let index=0;%>
      <% for (const projet of user.recipeName) { if (projet!=null) {%>
        <button class="btna"><pre><h6 style="white-space: pre;"><a href="/users/<%= user.id%>/<%= projet %>"><%= projet %></a></h6></pre></button>
      <% }index++;} %>
    <% } %>
</div></div></div>
    <br>
    <div class="wrap-collabsible"> <input id="collapsible1" class="toggle" type="checkbox"> <label for="collapsible1" class="lbl-toggle" tabindex="0">Write my bio</label><div class="collapsible-content"><div class="content-inner">
      <form action="/bio" method="post">
      <textarea spellcheck="false" name="bio" rows="50" cols="50" style="width:300px;max-width: 300px;height:200px;max-height: 200px;">About me:
    </textarea>
    <br><button type="submit" class="btn"><i class="fa fa-save"></i> Save bio</button>
    </form>
    <p> Click <a href="/users/<%= user.id%>">here</a> to see your profile seen by others.</p>
    </div></div></div>  
    <br>
    <h6 style="white-space:pre-line;">Little tip:
        Did you know? You can customize your biography!
    </h6>
    <a href="/deleteAccount"><button class="btnb">DELETE MY ACCOUNT</button></a>
    
</body>
</html>