<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p{
          color: beige;
          background-color: rgb(36, 36, 36);
          font-size: larger;
          border:10%;
          border-radius: 20px;
          white-space:pre-line;
          text-align: center;
        }
          body {
              background-color: <%=user.color%>;
          }
          .btn {
      background-color: white;
      color: <%=user.color%>;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      }
      .container {
    position: relative;
      }
      .topright {
  position: absolute;
  top: 8px;
  right: 8px;
}
em {
			display: block;
			margin: .5em auto 2em;
			color: #bbb;
		}
		a[href*="intent"] {
			display:inline-block;
			margin-top: 0.4em;
		}

		/*  
		 * Rating styles
		 */
		.rating {
			width: 226px;
			margin: 0 auto 1em;
			font-size: 45px;
			overflow:hidden;
		}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
		.rating a,
    .rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.rating2 {
			direction: rtl;
		}
		.rating2 a {
			float:none
		}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" type="css" href="/public/style.css">
    <title>Recipe</title>
</head>
<body>
  <div class="topright">
    <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
  </div>
      <%let index=0;%>
      <% for (const projet of user.recipename) { if (projet!=user.specificRecipe) {%>
      <% index++;%>
      <%}else{break;}}%>
      <p style="font-size: 75px;"><%=user.specificRecipe%></p>
      <p><%=user.details[index]%></p>
      <p>Written by <a href="/users/<%= user.id%>"><%=user.prenom%> <%=user.name%></a> on <%=user.lastsaves[index]%></p>
      <%if(user.nbratings[index]>0){%>
        <%const floatingNumber = parseFloat((user.ratings[index]/user.nbratings[index]).toFixed(1));%>
        <p><%= floatingNumber%> stars <%= user.nbratings[index]%> reviews</p>
      <%}else{%>
        <p>No reviews yet.</p>
        <%}%>
      <form action="/rate" method="POST">
      <div class="rating" style="translate: -10%;"><!-- I used this site to design the 5 stars :https://codepen.io/GeoffreyCrofte/pen/ALOggg--><!--
        --><input name="stars" id="e5" type="radio" value="5"></a><label for="e5">☆</label><!--
        --><input name="stars" id="e4" type="radio" value="4"></a><label for="e4">☆</label><!--
        --><input name="stars" id="e3" type="radio" value="3"></a><label for="e3">☆</label><!--
        --><input name="stars" id="e2" type="radio" value="2"></a><label for="e2">☆</label><!--
        --><input name="stars" id="e1" type="radio" value="1"></a><label for="e1">☆</label>
      <input id="id" name="id" value="<%=user.id%>">
      <input id="index" name="index" value="<%=index%>">
      <button type="submit" class="btn" style="translate: 21%;">Send review</button>
      </div>
      </form>
      <div class="rating" style="translate: -8%;"><a href="/random"><button class="btn">Another one!</button></a></div>
</body>
</html>