<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p{
          color: beige;
          background-color: rgb(36, 36, 36);
          font-size: larger;
          border:10%;
          border-radius: 20px;
          white-space:pre-line;
          text-align: center;
        }
          body {
              background-color: <%=user.color%>;
          }
          .btn {
      background-color: white;
      color: <%=user.color%>;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      }
      .container {
    position: relative;
      }
      .topright {
  position: absolute;
  top: 8px;
  right: 8px;
}
.bottomcenter {
  width: 99%;
  text-align: center;
  bottom: 10px;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" type="css" href="/public/style.css">
    <title>Recipe</title>
</head>
<body>
  <div class="topright">
    <a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
  </div>
      <%let index=0;%>
      <% for (const projet of user.recipename) { if (projet!=user.specificRecipe) {%>
      <% index++;%>
      <%}else{break;}}%>
      <p style="font-size: 75px;"><%=user.specificRecipe%></p>
      <p><%=user.details[index]%></p>
      <p>Written by <a href="/users/<%= user.id%>"><%=user.prenom%> <%=user.name%></a> on <%=user.lastsaves[index]%></p>
      <div class="bottomcenter"><a href="/random"><button class="btn">Another one!</button></a></div>
</body>
</html>